<div class="cover_img small_cover">
    <div class="cover_title margin_title" style=" width: 270px;">
        <canvas id="titlecanvas" height="100" width="400"></canvas>
    </div>
</div>
<div layout-padding>
    <md-input-container class="no-padding">
        <label>Search brand name</label>
        <input ng-model="ctrl.searchText">
    </md-input-container>  
</div>
<section layout-padding>
    <md-list>
        <md-subheader>Brands - {{filtered.length}} results</md-subheader>
        <md-list-item ng-repeat="headphonesType in ctrl.headphonesTypes | filter:ctrl.searchText as filtered">
            <h2>{{headphonesType.name}}</h2>
        </md-list-item>
    </md-list>
</section>
    
<md-button class="md-fab add-headphones-btn" aria-label="Add " ng-click="ctrl.openDialog($event)">
    +
</md-button>