<div class="cover_img small_cover">
    <div class="cover_title margin_title" style="width: 230px;">
        <canvas id="titlecanvas" height="100" width="400"></canvas>
    </div>
</div>
<div layout-padding>
    <h4>Segmentation of headphones brands</h4>
    <nvd3 options="ctrl.options" data="ctrl.headphones"></nvd3>
</div>
<div layout-padding ng-if="ctrl.headphonesByLevels">
    <h4>Segmentation of noise canceling levels</h4>
    <nvd3 options="ctrl.barOptions" data="ctrl.headphonesByLevels"></nvd3>
</div>