<div class="cover_img" style="height: 156px; background-position: inherit;">
    <div class="foryou_title" style=" width: 230px; margin-top: 58px;">
        <canvas id="titlecanvas" height="100" width="400"></canvas>
    </div>
</div>
<div>
    <h4>Segmentation of headphones brands</h4>
    <nvd3 options="ctrl.options" data="ctrl.headphones"></nvd3>
</div>
<div ng-if="ctrl.headphonesByLevels">
    <h4>Segmentation of noise canceling levels</h4>
    <nvd3 options="ctrl.barOptions" data="ctrl.headphonesByLevels"></nvd3>
</div>