@font-face {
    font-family: siteFont;
    src: url(fonts/Heebo-Regular.ttf);
}

*{
    font-family: siteFont, Monospace, sans-serif !important;
	font-size: 15px;
}

.cart-btn{
    right: 10px;
    top: 10px;
}

/* Global */
.no-margin{
	margin:0;
}

div.divider{
	border-bottom: 1px solid #e8e8e8;
	height:5px;
	width:80%;
	margin:auto;
}
.cartCounter{
	position: absolute;
	top: -2px;
	right: -12px;
	font-size: 10px;
	font-weight: bolder;
	border-radius: 100%;
	background: #EF423C;
	color: white;
	height: 20px;
	width: 20px;
	line-height: 20px;
	text-align: center;
}

div.cover_title{
	width: 234px;
    height: 77px;
    background-color: white;
    position: absolute;
    margin-top: 261px;
	border-left: 60px solid #802849;
}

div.cover_title.margin_title{
	margin-top: 58px;
}

div.cover_img.small_cover{
	height: 156px; 
	background-position: inherit;
}

.headphones-store-nav-bar{
    padding: 5px;
}
.headphones-store-nav-bar li{
	cursor: pointer;
	display: inline-block;
	list-style: none;
	margin-right: 10px;
	min-width: 100px;
    padding: 5px;
	text-align: center;
}
.headphones-store-nav-bar li:hover {
	border-bottom: 3px solid #8d90f7;
}

.headphones-store-nav-bar li:hover > a {
	border-bottom: none;
}

 .active {
	font-weight: 800;
	padding-bottom:3px;
	border-bottom: 3px solid #3C42EE;
 }

.headphones-store-nav-bar li a{
	text-decoration: none;
	color: black;
}

.manage-nav-menu {
	background-color: rgba(250, 250, 250, 0.85);
	list-style-type: none;
	margin: 0;
	opacity: 1;
	padding: 0;
	position: absolute;	
	visibility: visible;
	z-index: 100000;
}

.manage-nav-menu li {
	display: block;
}

.nav-menu-option-manager:hover .manage-nav-menu {
	opacity: 1;
	visibility: visible;
}

/* Home Page */
.cover_img{
    background-size: cover;
    background-image: url("Images/background.jpg");
    height: 390px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-position-x: inherit;
}

label.ShadowTitle{
	text-shadow: 1px 1px 2px #000000;
}

.headphonesCategory {
	font-weight: bold; 
	text-decoration: underline;
}

.aboutContent {
	column-count: 2;
	-moz-column-count: 2;
	-webkit-column-count: 2;
}

.about-container {
	margin: 0 auto;
	width: 1000px;
	margin-top: 15px;
}

md-dialog {
	overflow: hidden;
}

md-dialog md-dialog-content:not([layout=row])>:first-child:not(.md-subheader) {
	margin-top: 10px;
}

.header {
	background-color: #fafafa;
}
a, a:hover, a:focus{
   text-decoration: none; 
}

.siteLogo{
	margin-top: 45px;
	margin-left: 30px;
}
.siteTitle{
    height: 130px;
    display: block;
    text-align: center;
}
.headphonesWallpaper{
    background: url(Images/_Loose.jpg);
    background-repeat: round;
    display: block;
    height: 210px;
    width: 100%;
}

.headphones-filters{
	width: 600px;
	margin: 5px auto 30px auto;
}

.headphones-filters md-input-container{
	vertical-align: -webkit-baseline-middle;
    padding-top: 10px;
}
.headphonesImg{
    height: 300px;
    width: 300px;
}

.headphone-container{
	padding:30px;
} 

h1.title{
	font-size: 26px;
    text-decoration: underline;
}

.headphonesItem{
	display: block;
	padding-top: 15px;
	padding-bottom: 8px;
	align-content: center;
}

.item{
	display: block;
	position: relative;
	width: 250px;
	margin: 0 auto;
	text-align: center;
}

.headphones-item-wrapper {
	margin-bottom: 30px;
	opacity: 1;
	position: relative;
	transition: opacity ease-in-out 0.5s;
}

.headphones-item-wrapper.removed {
	opacity: 0;
}

.remove-headphones-btn{
	background-color: #ff9b9b !important; 
	margin-right: 5px !important;
}

.edit-headphones-btn {
	background-color: #c9caf5 !important; 
}

.manage-headphones-actions-btn {
	/* background-color: #ffffff !important; */
	box-shadow: unset !important;
	display: inline-block;
	padding: 0;
	line-height: 20px;
	margin: 0;	
	border: 1px solid #000000;
}

.manage-headphones-actions-btn img {
	display: inline-block;
	margin-top: 5px;
	height: 30px;
	width: 30px;
}



.about-section{
	max-width: 400px;
}

.about-section.right{
	margin-left: 40px;
}


aside.filters{
	border-right: 1px solid #e8e8e8;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 15px;
}

.aside-filter-header {
	margin: 20px 0 10px 0;
}

.checkbox-filters .checkbox {
	margin: 5px 0;
}
.shoppingCart{
	position: relative;
	margin-right: 10px;
}
.qty{
	width: 40px;
	padding: 2px;
	height: 24px;
	font-size: 14px;
	text-align: center;
}
.qtyWrap{
	margin: 10px;
	margin-bottom: 15px;
}
.successMsg{
	display: none;
}
.homeTitle{
	margin: 20px;
	margin-left: 55px;
}
.mainView{
	background-color: #ffffff;
}
.cartTitle{
	margin-left: 10px;
	margin-bottom: 20px;
	text-decoration: underline;
	font-weight: bold;
	clear:both;
}

.searchResultErr{
	font-weight: bold;
	text-align: center;
	background: #F0EFEE;
	padding: 3px;
}

.add-headphones-btn {
	background-color: #3C42EE !important;
	bottom: 5px;
	font-size: 24px;
	right: 5px;	
	position: fixed;
}

.add-edit-headphones-dialog {
	width: 300px;
}
.add-edit-headphones-dialog .container {
	margin-left: 20px;
	overflow-x: hidden;
}
.add-edit-headphones-dialog .title-wrapper {
	background-color: #3C42EE;
	margin-bottom: 10px;
	padding: 10px;
	position: relative;
}

.add-edit-headphones-dialog .title-wrapper h1 {
	color: #ffffff;
	margin-left: 20px;
}

.add-edit-headphones-dialog .title-wrapper .close-dialog {
	border-radius: 50%;
	color: #fff;
	font-size: 18px;
	height: 30px;
	line-height: 30px;
	min-height: unset;
	min-width: unset;
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
}

.add-edit-headphones-dialog md-input-container {
	display: block;
	min-height: 50px;
	margin: 10px 0;
	padding-right: 20px;
}

.storeItem {
	text-align: center;
	margin-bottom:30px;
}

.storeItemTitle {
	text-decoration: underline; 
	font-style: italic;
}



.storesCompTitle {
	font-size: 24pt; 
	text-decoration: underline;
	text-align: center;
}

.mapMarkerContent {
	margin-left: 10px;
}

.footer {
    bottom: 0;
    left:0;
    right: 0;
	background-color: #f3eeee;
	padding: 5px;
}

.headphonesCategory {
	text-decoration: underline;
    font-weight: 500;
    text-shadow: 1px 1px rgba(0,0,0,0.87);
}

.aboutTitle {
	text-decoration: underline;
	font-size: 24pt; 
	font-weight: bold;
	text-shadow: -3px 0px #e6e6e6;
}

.aboutContent {
	column-count: 2;
	-moz-column-count: 2;
	-webkit-column-count: 2;
}

.image-uploader-wrapper {
	overflow: hidden;
	position: relative;
}

.image-uploader-wrapper .image-uploader-text {
	cursor: pointer;
	font-size: 16px;
	text-decoration: underline;
}

.image-uploader-wrapper input[type=file].image-uploader-button {
	font-size: 100px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
  }

  .headphones-types-list {
	  margin: 0 auto;
	  width: 600px;
  }

  .headphones-types-list md-list {
	  width: 310px;
  }

  /* All Headphones */
  div.all_headphones_container{
	padding-top: 20px;
  }

  /* Headphone Item */
  img.headphone{
	height: 160px;
    width: 160px;
    border: 1px solid #ececec;
    border-radius: 14px;
	padding: 15px;
	align-self: center;
  }

  label.headphone_title{
	color: #3f51b5;
    font-size: 20px;
    margin: 0;
  }

  label.headphone_price{
	margin: 0;
	color: black;
	font-size:15px;
  }

  /* Stores */
  div.stores_search{
	padding-top: 20px;
  }

  div.store_container{
	  padding-bottom:30px;
  }

  div.store_list{
	  width:300px;
  }

  md-list.stores{
	  height:380px;
  }

  .gMap {
	width:500px;
	height:380px;
	border-radius: 10px;
}

/* Cart */
md-button.Checkout{
	font-size: 16px;
	font-weight: bold;
}