<div class="cover_img small_cover">
    <div class="cover_title margin_title" style=" width: 320px;">
        <canvas id="titlecanvas" height="100" width="400"></canvas>
    </div>
</div>
<section layout="row">
    <aside flex="18" class="filters">
        <md-input-container>
            <label>Search by name</label>
            <input ng-model="ctrl.searchText">
        </md-input-container>
        <div class="aside-filter-header">
            <h3 class="">Filter By Type:</h3>
        </div>        
        <div class="checkbox" ng-repeat="headphonesType in ctrl.headphonesTypeList">
            <md-checkbox ng-model="ctrl.typeFilter[headphonesType.name]" aria-label="Checkbox 1">
            {{headphonesType.name}}
            </md-checkbox>
        </div>        
        <div class="aside-filter-header">
            <h3 class="">Filter By Noise Canceling Level:</h3>
        </div>
        <div class="checkbox" ng-repeat="cancelLvl in ctrl.noiseCancelingLevels">
            <md-checkbox ng-model="ctrl.noiseCancelFilter[cancelLvl.key]" aria-label="Checkbox 1">
            {{cancelLvl.value}}
            </md-checkbox>
        </div>
    </aside>
    <div flex>    
        <div layout="row" layout-align="center">
            <md-input-container>
                <label>Say something on twitter</label>
                <input ng-model="ctrl.twit">
            </md-input-container>
            <md-input-container>
                <md-button class="md-raised md-primary" ng-disabled="ctrl.twit === ''"
                        name="submit" ng-click="ctrl.postTwit()">Twit!</md-button>
            </md-input-container>
        </div>    
        <div class="items" layout="row" layout-wrap>
            <div class="headphones-item-wrapper" ng-class="{removed: ctrl.removed === headphones._id}" flex="33" ng-repeat="headphones in (ctrl.filteredHeadphones = (ctrl.headphones | filter:{name:ctrl.searchText} | filter:ctrl.filterByType | filter:ctrl.filterByNoiseCancelingLevel | orderBy:ctrl.orderbyfilter))">                
                <headphones-item headphones="headphones" add-to-cart="false" show-price="ctrl.showPrice">
                </headphones-item>
                <div layout="row" layout-align="center center">
                    <md-button class="remove-headphones-btn manage-headphones-actions-btn md-fab md-mini md-ink-ripple" aria-label="remove headphones" ng-click="ctrl.delete(headphones._id)">
                        <md-icon md-svg-src="public/Images/delete.svg"></md-icon>
                    </md-button>
                    <md-button class="manage-headphones-actions-btn edit-headphones-btn md-fab md-mini md-ink-ripple" aria-label="edit headphones" ng-click="ctrl.openDialog($event, headphones)">
                        <md-icon md-svg-src="public/Images/edit.svg"></md-icon>
                    </md-button>
                </div>                
            </div>  
            <h4 class="searchResultErr" ng-if="!ctrl.filteredHeadphones.length">There are no matched items</h4>
        </div>
    </div>
</section>

<md-button class="md-fab add-headphones-btn" aria-label="Add " ng-click="ctrl.openDialog($event)">
    +
</md-button>