<div class="cover_img small_cover">
    <div class="cover_title margin_title" style="width: 260px;">
        <canvas id="titlecanvas" height="100" width="400"></canvas>
    </div>
</div>
<div class="stores_search" layout="row" layout-align="center">
    <md-input-container>
        <label>Name</label>
        <input type="text" name="name" ng-model="ctrl.storeName">
    </md-input-container>
    <md-input-container>
        <label>City</label>
        <input type="text" name="city" ng-model="ctrl.storeCity">
    </md-input-container>
    <md-input-container>
        <label>Phone</label>
        <input type="text" name="phone" ng-model="ctrl.storePhone">
    </md-input-container>
    <md-input-container>
    <md-button class="md-raised md-primary" 
                       name="submit" ng-click="ctrl.search()">Search</md-button>
    </md-input-container>
</div>

<div class="store_container" layout="row" layout-align="space-around center">
    <div class="store_list">
        <md-list class="stores md-dense" flex>
            <md-list-item ng-repeat="store in ctrl.stores" class="md-3-line">
                    <Store store="store"></Store>
            </md-list-item>
        </md-list>
    </div>
    <div id="googleMap" class="gMap"></div>
</div>