<div class="cover_img" style="height: 156px; background-position: inherit;">
    <div class="foryou_title" style=" width: 260px; margin-top: 58px;">
        <canvas id="titlecanvas" height="100" width="400"></canvas>
    </div>
</div>
<div style="position: relative;" layout="row" layout-align="center">
    <md-input-container>
        <label>Name</label>
        <input type="text" name="name" ng-model="ctrl.storeName">
    </md-input-container>
    <md-input-container>
        <label>City</label>
        <input type="text" name="city" ng-model="ctrl.storeCity">
    </md-input-container>
    <md-input-container>
        <label>Phone</label>
        <input type="text" name="phone" ng-model="ctrl.storePhone">
    </md-input-container>
    <md-input-container>
        <input type="button" value="SEARCH" name="submit" ng-click="ctrl.search()">
    </md-input-container>
</div>
<br>
<div class="items" layout="row" layout-wrap>
    <Store ng-repeat="store in ctrl.stores" store="store"></Store>
</div>
<br>
<br>
<div id="googleMap" class="gMap"></div>