<section layout="row">
    <aside flex="15" class="checkbox-filters">
        <div>
            <h3>Search by name:</h3>
            <input class="form-control" type="text" ng-model="ctrl.searchText"/>
        </div>
        <div class="aside-filter-header">
            <h3 class="">Filter By Type:</h3>
        </div>        
        <div class="checkbox" ng-repeat="headphonesType in ctrl.headphonesTypeList">
            <label>
                <input type="checkbox" ng-model="ctrl.typeFilter[headphonesType.name]" />
                {{headphonesType.name}}
            </label>
        </div>        
        <div class="aside-filter-header">
            <h3 class="">Filter By Noise Canceling Level:</h3>
        </div>
        <div class="checkbox" ng-repeat="cancelLvl in ctrl.noiseCancelingLevels">
            <label>
                <input type="checkbox" ng-model="ctrl.noiseCancelFilter[cancelLvl.key]" />
                {{cancelLvl.value}}
            </label>
        </div>
        <div>
            <md-input-container>
                <input type="button" value="SEARCH" name="submit" ng-click="ctrl.search()">
            </md-input-container>
        </div>
    </aside>
    <div flex class="">        
        <div class="items" layout="row" layout-wrap>
            <headphones-item flex="33" ng-repeat="headphones in ctrl.headphones" headphones="headphones" add-to-cart="ctrl.addToCart" show-price="ctrl.showPrice">
            </headphones-item>
            <h4 class="searchResultErr" ng-if="!ctrl.headphones.length">There are no matched items</h4>
        </div>
    </div>
</section>