<div class="cover_img" style="height: 156px; background-position: inherit;">
    <div class="foryou_title" style=" width: 260px; margin-top: 58px;">
        <canvas id="titlecanvas" height="100" width="400"></canvas>
    </div>
</div>
<section layout="row">
    <aside flex="18" class="filters">
        <md-input-container>
            <label>Search by name</label>
            <input ng-model="ctrl.searchText">
        </md-input-container>
        <div class="aside-filter-header">
            <h3 class="">Filter By Type:</h3>
        </div>        
        <div class="checkbox" ng-repeat="headphonesType in ctrl.headphonesTypeList">
            <md-checkbox ng-model="ctrl.typeFilter[headphonesType.name]" aria-label="Checkbox 1">
            {{headphonesType.name}}
            </md-checkbox>
        </div>        
        <div class="aside-filter-header">
            <h3 class="">Filter By Noise Canceling Level:</h3>
        </div>
        <div class="checkbox" ng-repeat="cancelLvl in ctrl.noiseCancelingLevels">
            <md-checkbox ng-model="ctrl.noiseCancelFilter[cancelLvl.key]" aria-label="Checkbox 1">
            {{cancelLvl.value}}
            </md-checkbox>
        </div>
        <div layout="row" layout-align="center">
            <md-button class="md-raised md-primary" 
                       name="submit" ng-click="ctrl.search()">Search</md-button>
        </div>
    </aside>
    <div flex>        
        <div class="all_headphones_container" layout="row" layout-align="center" layout-wrap>
            <headphones-item flex="33" ng-repeat="headphones in ctrl.headphones" headphones="headphones" add-to-cart="ctrl.addToCart" show-price="ctrl.showPrice">
            </headphones-item>
            <h4 class="searchResultErr" ng-if="!ctrl.headphones.length">There are no matched items</h4>
        </div>
    </div>
</section>