<div class="">
	<div class="cover_img">
		<div class="foryou_title"><canvas id="myCanvas" height="100" width="400"></canvas></div>
	</div>
	<h3 class="homeTitle">Sneak peek</h3>
	<div layout="row">
		<headphones-item flex ng-repeat="headphones in ctrl.headphones | orderBy:'-price' | limitTo:3"
				  headphones="headphones" add-to-cart="ctrl.addToCart" show-price="ctrl.showPrice">
		</headphones-item>
	</div>
	<h3 ng-show="ctrl.recommend" class="homeTitle">Reccomended for you</h3>
	<div layout="row" ng-show="ctrl.recommend">
		<headphones-item ng-if="ctrl.recommend" flex headphones="ctrl.recommend" add-to-cart="ctrl.addToCart" show-price="ctrl.showPrice">
		</headphones-item>
	</div>
</div>